.achecker-result {
  min-width: 1px;
  margin: 5px 5px 30px 5px;
  word-break: break-all;
}

.achecker-result-pass .achecker-result-status {
  color: #00cc00;
}
.achecker-result-pass .achecker-result-status::before {
  background: #00cc00;
  content: '✓';
  font-weight: bold;
}

.achecker-result-fail .achecker-result-status {
  color: #cc0000;
}

.achecker-result-fail .achecker-result-status::before {
  background: #cc0000;
  content: '×';
}

.achecker-result-status {
  font-weight: bold;
  text-transform: uppercase;
}

.achecker-result-status::before {
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
  text-align: center;
  margin-right: 5px;
  width: 20px;
}

.achecker-row {
  border-bottom: 1px solid #c8c8c8;
  padding: 15px 5px;
}

.achecker-resultsFull {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achecker-row-resultType {
  font-weight: bold;
}

.achecker-row-resultType::before {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  color: #ffffff;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
  text-align: center;
  margin-right: 5px;
  width: 20px;
}

.achecker-row-resultType-potential-problem::before {
  content: '⚠';
  background: #ffff00;
  color: #000000;
}

.achecker-row-resultType-likely-problem::before {
  content: '⚠';
  background: #ff0000;
}

.achecker-row-resultType-error::before {
  content: '☢';
  border: none;
  margin-right: 0;
}

.achecker-row-odd {
  background-color: #f8f8f8;
}

.achecker-result-summary {
  float: left;
  max-width: 50%;
}

.achecker-result-filter {
  float: right;
  max-width: 50%;
}

.achecker-clear {
  clear: both;
}

.achecker-runSummary {
  background-color: #f8f8f8;
  margin: 5px 0;
  padding: 1px 5px 5px;
}

.achecker-runSummaryColumn {
  float: left;
  max-width: 33%;
  padding: 0 15px;
}

.achecker-runSummaryList {
  margin: 0;
  padding: 0 20px;
}

.achecker-summaryDetails {
  float: left;
  width: 25%;
}
.achecker-summaryChart {
  float: right;
  width: 72%;
}
